{% extends 'base.html' %}
            {% block content %}
                <section class="info">
                        <h4>Django web development demo
                            [MEMBER PROFILE SPACE]</h4>
                        <table>
                            <tr>
                                <th>name</th>
                                <th>pic</th>
                                <th>email</th>
                                <th>affiliation</th>
                            </tr>

                            <tr>
                                <td> {{ amember.user.username }}</td>
                                <td> <img src = "{{amember.user_pic.url}}"  width="20%" />

                                </td>
                                <td>{{amember.user.email}}</td>
                                <td>{{amember.affiliation}}</td>
                            </tr>

                        </table>
                </section>
        {% endblock content %}