{% extends 'base.html' %}
            {% block content %}
                <section class="info">
                        <h4> LOGOUT PAGE  </h4>

            <p>
                 Logged out <br>
                Thanks for spending some quality time with the web site today.
            </p>
                    <p>
                        <a href = "{% url 'member_login' %}"> Log in again </a>
                    </p>

                </section>
        {% endblock content %}