{% extends 'base.html' %}
            {% block content %}
                <section class="info">
                        <h4> MEMEBER EDIT   FORM </h4>
                    <form  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {{ edit_form }}
                        </fieldset>
                        <fieldset>
                            {{ member_form }}
                        </fieldset>

                        <input type="submit" value=" EDIT you data ! " />
                    </form>

                </section>
        {% endblock content %}