* {margin:0; padding: 0;}
html, body {width: 100%; height:100%;border: 1px dotted red;}
body {/*! margin:1em; */
    padding:1em;
background: azure;}

/* both header and footer have darkcyan background and 1 em padding
layout mode is flex and contents of both header and footer are centered and laid out in a column format
*/
header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c6d7d7;
    padding: 1em;
    height: 13%;
}
header{display: flex; flex-direction: row; justify-content: space-between;
}
header>section#top-header
{border: 1px solid red;
width: 100%;
display: flex;
justify-content: space-between;}

#header-right {
width: 70%;
border: 1px dotted red;
display: flex;
flex-direction: column;
}
#menu1 {display: flex;
justify-content: space-between;}

header ul {list-style-type: none; display: flex;
    align-content: space-evenly;
    flex-direction: row;}

header section#wrap-menu1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: end;
    align-items: self-end;
    width:35%;
    border:1px dotted red
  }
  section#search {width: 100%; border:0px solid green; padding:0px;}
  section#search input {display:block; width:100%;}
/* section main-wrapper has:
layout mode is flex
padding 10px;  border:red and 2px thickness and rounded with an 8px radius, both header and footer have darkcyan background and 1 em padding
the width of this section is 70%
*/
section#main-wrapper, section#middle{
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border:2px solid red;
    flex-direction: column;
    height: 70%;
}
section#main-wrapper{
    width:80%;
    margin: 0 auto;
    height: 100%;
}

/* section middle has:
layout mode is flex and space between the contents
padding 10px;  border:red and 2px thickness and rounded with an 8px radius, both header and footer have darkcyan background and 1 em padding

*/
section#middle {
    flex-direction: row;
    justify-content: space-between;

}
nav, section#content, section#end-side-bar {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border:2px solid darkgreen;
    width:17%;
    background: #ddebf7;
}
section#end-side-bar {
    displayf:flex;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border:2px solid darkgreen;
    width:20%;
    }
/* section content has:
the same rules as nav.
however the with is 75%
and layout mode is flex
*/
section#content{
    display: flex;
    flex-direction: column;
    width:70%;
    background: #f5f1db;
}
section#filter {display:flex;
flex-direction:row;
align-self:end}
/*------------------------------------*/
/* ul that is a descendant of nav has the following rule:
list-style-type: none; */
nav>ul {
    list-style-type: none;
}
/* li element that is a descenadnt of a ul that is is a descendant of nav
 has the following rule:
    background-color: darkblue;
    margin: 5px;
*/
nav>ul>li {
    background-color: darkblue;
    margin: 5px;
}
/* each anchor a that is a descendent fo li has the following css rules:
font size 1.1 em, bold, text color white, internal space 10 px all around,
no underline
*/
ul>li>a {
    font-size:1.1em;
    font-weight:bold;
    padding: 10px;
    color:white;
    text-decoration: none;
    display: block;
}
/* whnever the mouse is over the anchor a that is a descendant of element li,
the text color is blue and background is light green  */
nav>ul>li a:hover {
background: rgb(231, 245, 198);    color: rgb(32, 32, 151);
}
section#log_reg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section#menu1 section {margin:0px;}
section#menu1 a {color: maroon; padding:0; text-decoration:none; font-weight:bold;}
section#menu1 a:hover {border-top: 2px solid orange; padding:0}
/*-----------------------------------*/
/* all sections with class 'info' are styled as:
layout mode is flex;   items are centered;
internal space 10px; external space 5px; border 2px magenta
and border rounded with a corner of 8px.
*/

section.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border:2px solid magenta;
    height: 100%;
    overflow: auto;
}
/*----------------------------------*/
/* all three table, form and video share the folowing styles:
internal space 10px; height: 150 px and a width:60%;
border 2px dark gray and border rounded with a corner of 8px. */
table, form, video {
    border-radius: 8px;
    border:2px solid darkgrey;
    padding: 10px;

}
/* form has extra styles:
layout mode is flex;   and contents are  spaced between
each element inside a form must have an internal space of 3px */


form {
    display: flex;
    flex-direction: column;
    justify-content:space-between  ;
    width:90%;
}

form fieldset * {padding: 3px; display: block; width:95%}
form .helptext  {
font-size:0.6em;
color: #074607;}

form ul.errorlist {

  list-style-type: none;
  font-size: 0.6em;
  color: maroon;
  font-weight: bold;}


/* meassges */

section#success {  background: #abdbab;}
section#error {  background: maroon;}


/*-------------------*/

table {font-size:0.95em;}
th {background-color: blueviolet;
color:white}
td {padding: 5px; border:1px solid darkcyan;}

/*----- list elemes -----------*/
section.list_elems
{ display:flex; flex-direction:column;
border:1px solid red;
width: 100%;
}
section.list_elems * {padding:3px border:1px dotted;}
section.list-row{ display:flex; flex-direction:row;
border:1px solid red;
justify-content: space-evenly;
}

section.list-row-info {
display:flex;
border:1px solid red;
width: 100%;
}
section.list-row-info-start{
width:80%
}
section.item-title {width:90%}
section.item-by {color:maroon}
section.item-date {color:darkgrey}

section.item-title a {text-decoration: none;
color: darkblue;
}
section.item-title a:hover {
color: red;
}
section.buttons{ display:flex; flex-direction:column;
width: 20%;
}
button.btn-edit, button.btn-delete, button.btn-new {
background:green; color:white; width:100%;}
button.btn-delete {background:red;}
button.btn-new {background:blue;}