{% extends 'base.html' %}
{% load static %}
{% block app_logo %}
<img src="{% static 'images/polls_icon.PNG' %}" height="100%"/>
{% endblock app_logo %}
            {% block content %}
                <section class="info">
                        <h4>Django web development demo</h4>
                    <h4> POLLS APP</h4>
                        <table>
                            <tr>
                                <th>topic</th>
                                <th>week</th>
                                <th>status</th>
                            </tr>

                        </table>
                </section>
        {% endblock content %}