{% extends "base.html" %}
{% block content %}
                <section class="info">
                        <h4>Django web development demo</h4>
                        <table>
                            <tr>
                                <th>name</th>
<!--                                <th>body</th>-->
                                <th>age</th>
                                <th>email</th>
                            </tr>
                            {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.name }}</td>
                                <td>{{obj.age}}</td>
                                <td>{{ obj.email }}</td>
                            </tr>
                            {% endfor%}

                        </table>
                </section>

                    <!-- add pagination code here -->
                    <div class="pagination">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    </span>
                    </div>
{% endblock content %}