{% extends "base.html" %}
{% block content %}
                <section class="info">
                        <h4>Django web development demo</h4>
                        <table>
                            <tr>
                                <th>Prof</th>
                                <th>office</th>
                                <th>contact</th>
                            </tr>
                            {%  for p in prof_list %}
                                <tr>
                                    <td> {{ p.name }}</td>
                                    <td> {{ p.contact }}</td>
                                    <td> {{ p.office }}</td>
                                </tr>
                            {% endfor %}

                        </table>
                </section>
         {% endblock content %}