{% extends 'base.html' %}
            {% block content %}
                <section class="info">
                        <h4>Django web development demo</h4>
                        <table>
                            <tr>
                                <th>topic</th>
                                <th>week</th>
                                <th>status</th>
                            </tr>
                            <tr>
                                <td>django setup</td><td>week8,9,10)</td><td>done over and over again</td>
                            </tr>
                            <tr>
                                <td>django Model </td>
                                <td> wekk9, 10</td>
                                <td>done using many diff e.g. </td>
                            </tr>
                            <tr>
                                <td>django templates </td>
                                <td> week11, week12</td>
                                <td>not yet </td>
                            </tr>
                            <tr>
                                <td>django Views </td>
                                <td> week12, week13, week14</td>
                                <td>not yet </td>
                            </tr>
                            <tr>
                                <td>Django Rest API </td>
                                <td> week13 or week14</td>
                                <td>not yet </td>
                            </tr>
                            <tr>
                                <td>Django deployment </td>
                                <td> week14</td>
                                <td>not yet </td>
                            </tr>

                        </table>
                </section>
        {% endblock content %}