{% extends "base.html" %}
{% block content %}
                <section class="info">
                        <h4>Django web development demo</h4>
                                <section>{{ p.title }}</section>
                                <section>{{ p.pub_date }}</section>
                                <section>{{ p.owner.email }}</section>
                                    <section>{{ p.body }}</section>
                            </tr>

                        </table>
                </section>
{% endblock content %}
