{% extends "base.html" %}
{% block content %}
                <section class="info">
                        <h4>Django web development demo </h4>
                    <h4> Post details using PostDetail generci class </h4>
                                <section>{{ object.title }}</section>
                                <section>{{ object.pub_date }}</section>
                                <section>{{ object.owner.email }}</section>
                                    <section>{{ object.body }}</section>
                            </tr>

                        </table>
                </section>
{% endblock content %}
