{% extends "base.html" %}
{% block content %}
                <section class="info">
                        <h4>{{ key }}Django web development demo</h4>
                        <section class="btn-create">
                            <a href=" {% url 'weblog_post_create' %} ">
                                <button class="btn-create">  Create a new Post </button>

                            </a>
                        </section>


                        <section class="list_elems">
                            {% for p in object_list %}
                             <section class="list-row">
                                <section class="list-row-info">
                                    <section class="list-row-info-start">
                                    <section class="item-title">
                                        <a href="{{ p.get_absolute_url }}"> {{ p.title|slice:":25" }} ... </a>
                                    </section>
                                    <section class="item-by">{{ p.owner.user.username }} - {{ p.owner.last_name }}</section>
                                    <section class="item-date">{{ p.pub_date }}</section>
                                                                            </section>

                                {% if user == p.owner.user %}
                                <section class="buttons">
                                    <section class="btn-edit">
                                        <a href="{% url  'weblog_post_edit' p.id %}">
                                            <button class="btn-edit">  Edit </button>
                                        </a>


                                    </section>
                                    <section class="btn-delete">
                                        <a href="{% url  'weblog_post_delete' p.id %}">
                                         <button class="btn-delete">  delete </button>
                                        </a>

                                    </section>
                                </section>
                               {% endif %}


                                </section>

                            </section> <!-- list-row-->
                            {% endfor %}
                        </section> <!-- list_elems -->
                    <!--- Pagination taken from django docs -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </section>
{% endblock content %}