{% extends "base.html" %}
{% block content %}
<section class="info">
<h4>Django web development demo </h4>
    <h4> Post Form ({{ for_toitl }}) </h4>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit"
               value=" {{ btn_val }}" />
    </form>
</section>
{% endblock content %}
