{% extends "base.html" %}
{% block content %}
<section class="info">
<h4>Django web development demo </h4>
    <h4> Post Form (delete) </h4>
    <form method="post">
        {% csrf_token %}
        Do You ant really to delte the post ?
        <a href="{% url 'weblog_list_all'%}">
            cancel
        </a>

        <input type="submit"
               value=" YES - DELETE" />
    </form>
</section>
{% endblock content %}
